@import "https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/gotham.css";
/*@font-face {*/
/*    font-family: Gotham;*/
/*    src: url('../../dist/assets/resources/Gotham.otf');*/
/*}*/

.spinner {
    --color-red: #ee051d;
    --color-white: #fff;
    --color-dark: #222323;
    --transition: .8s;
    --font-primary: Gotham, sans-serif;
    --font-size-title: 4vw;
    --font-size-regular: 3.5vw;
    position: fixed;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    background: var(--color-dark);
    font-family: var(--font-primary);
    overflow: scroll;
}

.container {
    width: 80vw;
    height: 80vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.container:before {
    content: '';
    background: var(--color-white);
    position: absolute;
    top:20%;
    right: 20%;
    bottom: 20%;
    left: 20%;
    z-index: 0;
}

.displayNONE {
    display: none!important;
}

@media ( min-width: 768px ) {
    .spinner {
        --font-size-title: 1.45vw;
        --font-size-regular: 1.45vw;
    }

    .container {
        width: 30vw;
        height: 30vw;
    }
}
