.container {
    --color-border: #c7c7c7;
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    left:0;
    background: var(--color-white);
    border-radius: 100%;
    transition: transform .4s, opacity .4s;
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
    font-family: var(--font-primary);
}

.containerShowed {
    transform: scale(1.1);
    opacity: 1;
    visibility: visible;
    z-index: 10;
}

.congratulateBlock {
    border-radius: 100%;
    position: absolute;
    top: .5rem;
    right: .5rem;
    bottom: .5rem;
    left: .5rem;
    border: 1rem solid var(--color-border);
    padding: 14% 10%;
    text-align: center;
    font-family: var(--font-primary);

}

.congratulateBlockTitle {
    font-size: 1.62rem;
    display: block;
    margin-bottom: 10%;
    font-family: var(--font-primary);
}

.contentBlock {

}
/* PRIZE GROUP */
.prizeGroup {

}

.prizeGroupTitle {
    display: block;
    font-family: var(--font-primary);
}

.prizeGroupName {
    display: block;
    margin: 5% auto;
    font-size: 1.5rem;
    font-weight: 800;
    letter-spacing: .5px;
    font-family: var(--font-primary);
}
/* PROMOCODE GROUP */
.codeGroup {
    margin-top: 12%;
}

.codeGroupTitle {
    display: inline-block;
    font-size: 1.5rem;
    letter-spacing: .5px;
    font-family: var(--font-primary);
}

.important {
    color: var(--color-red);
    display: inline-block;
    font-size: 1.55rem;
    letter-spacing: .5px;
    font-family: var(--font-primary);
    padding: 0 .5rem;
    font-weight: 800;
}

.codeGroupName {
    display: block;
    margin: 3% auto;
    font-size: 1.7rem;
    font-weight: 800;
    font-family: var(--font-primary);
}
/* BTN GROUP */
.btnGroup {
    margin: 13.5% auto;
}

.btnGroupBtn {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    background-color: red;
    color: #fff;
    padding: 2% 18%;
    font-weight: 800;
    letter-spacing: .5px;
    font-family: var(--font-primary);
}
