@keyframes invalid {
    0% {
        transform: translateX(0px);
    }
    25% {
        transform: translateX(20px);
    }
    50% {
        transform: translateX(-20px);
    }
    75%{
        transform: translateX(20px);
    }
    100%{
        transform: translateX(0px);
    }
}

.inputGroup {
    position: relative;
}

.inputGroup:before {
    content: '';
    transition: transform 0s, opacity 0s;
    position: absolute;
    left: 0;
    top: -100vh;
    width: 50vw;
    height: 200vh;
    background: linear-gradient(90deg,transparent 25%, var(--color-red) 50%, transparent 75%);
    transform: translateX(-100vw) skew(45deg);
    opacity: .3;
    z-index: 10;
    visibility: hidden;
}

.inputGroup.invalid:before{
    transition: transform 1s, opacity var(--transition);
    visibility: visible;
    transform: translateX(100vw)  skew(-45deg);
    opacity: 1;
}

.input {
    width: 68.5%;
    display: block;
    margin: 7.5% auto 0;
    border: none;
    border-bottom: 2px solid black;
    padding-bottom: 2%;
    font-size: var(--font-size-regular);
    font-family: var(--font-primary);
    font-weight: 400;
    letter-spacing: 1px;
    text-align: center;
    outline: none;
}

.invalid .input{
    animation: invalid .35s forwards;
    border-bottom: 3px solid var(--color-red);
}


.slot {
    min-height: 2rem;
}

.loader {
    position: absolute;
    right: 50%;
    width: 20%;
    transform: translateX(50%);
}

.btn {
    font-family: var(--font-primary);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 2% 5.5%;
    background-color: var(--color-red);
    border-color: var(--color-white);
    color: var(--color-white);
    margin: 4% auto auto;
    font-size: var(--font-size-title);
    border-width: 1px;
    letter-spacing: 1px;
    border-radius: 4px;
}

@media ( min-width: 768px ) {
    .input{
        margin: 13.9% auto 0;
    }
}
