.exit {
    width: calc( var(--font-size-title) * 1.25 );
    height: calc( var(--font-size-title) * 1.25 );
    border-radius: 100%;
    text-decoration: none;
    position: absolute;
    top:0;
    right: 0;
    background-color: var(--color-white);
    display: flex;
    place-content: center;
    opacity: .25;
    z-index: 1000;
}

.exit svg {
    width: calc( var(--font-size-title) * .65 );
}
